*{
    padding: 0;
    margin: 0;
}

body,html{
    width: 100vw;
    height: 100vh;
    position: relative;
}

nav {
    border: 1px solid #cccccc;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

li {
    padding: 0 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;

}
a:hover{
    opacity: 0.7;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#controllers{
    width: 89%;
    flex-grow: 1;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#controllers>h2{
    text-align: center;
}
#controllers>ul{
    width: 100%;
    height: 7%;
}
#controllers>ul>li{
    width: 50%;
}
#controllers>ul>li>button{
    width: 100%;
    font-size: 1.2em;
}
#content{
    display: flex;
    flex-wrap: wrap;
}
.user,.image{
    border: 1px dashed #cccccc;
    padding: 10px;
    margin: 3px;
    width: 300px;
}
.user>section,.image>section{
    display: flex;
    width: 100%;
    align-items: center;
    /* justify-content: space-between; */
}
.image>section>img{
    width: 100%;
}
.user>section>h3{
    width: 50%;
}
.user>section>p{
    font-size: 14px;
    display: flex;
    align-items: center;
}

section.finally>a{
    width: 100%;
    text-align: center;
    border-top: 1px solid #cccccc;
    padding: 5px 0 0 0;
}

.findBy__input{
    height: 40px;
    width: 90%;
    display: flex;
    margin: 5px 0;
    align-items: center;
}
.findBy__input>input{
    height: calc(100% - 2px);
    width: 100%;
    text-align: center;
    font-size: 23px;
}
.findBy__input>button{
    width: 60px;
    height: 100%;
}

.create__inputs, .delete__inputs{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    padding: 10px;
}
.create__inputs>input,
.create__inputs>select,
.create__inputs>button,
.delete__inputs>input,
.delete__inputs>button{
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}
